## Variables & Data Types

In [1]:
# Create a variable name and assign it your name as a string.
name = 'Celine'
print(name)

Celine

In [2]:
# Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.
a= 10
b= 3.14
print(a, type(a))
print(b, type(b))

10 <class 'int'>
3.14 <class 'float'>

In [3]:
# Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.
is_student = True
print("Am I a student? ",is_student)

Am I a student?  True

In [4]:
# Create a variable x = None. Print it and check its type.
x = None
print(x, type(x))

None <class 'NoneType'>

In [5]:
# Swap the values of two variables m = 5 and n = 8 without using a third variable.
m = 5
n = 8
m, n= n, m
print("m =",m,"\nn =",n)

m = 8
n = 5

## Variables Assignment
1. Store temperature for this week
2. Employee hourly rates
3. Website visitors per day

In [4]:
# Store temperature for this week
week_1_temperatures = {"Monday":40,
                       "Tuesday": 37,
                       "Wednesday": 20,
                       "Thursday": 18,
                       "Friday": 56,
                       "Saturday": 67,
                       "Sunday": 40
                       }
print(week_1_temperatures)

{'Monday': 40, 'Tuesday': 37, 'Wednesday': 20, 'Thursday': 18, 'Friday': 56, 'Saturday': 67, 'Sunday': 40}

In [ ]:
# Employee hourly rates
hourly_rates = '60 dollars/hour'

In [ ]:
# Website visitors per day
web_visitors = "1112 people/day"

## loops

#### Normal way

In [10]:
numbers = [1, 2, 3, 4]
squares = []
for number in numbers:
    square = number * number
    squares.append(square) 
squares

[1, 4, 9, 16]

#### Comprehension method

In [11]:
square_list = [number*number for number in numbers]
square_list

[1, 4, 9, 16]

In [12]:
# get squares for even numbers only
even_square_list = [number*number for number in numbers if number %2 == 0]
even_square_list

[4, 16]

## Assignment
1. Create a list of even numbers
2. Convert temperatures from celcius to farenheit
3. Create welcome emails (list of emails then send messages to each of them)

In [6]:
# Create a list of even numbers
even_numbers = []
for i in range(11): #the range is 0-10
    if i % 2 == 0:
        even_numbers.append(i)
        i+=1 
    else:
        i+=1

print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [8]:
# Convert temperatures from celcius to farenheit
temp_celcius = [32,43,37,78,23,0]
temp_farenheit = []

A = 9/5
B = 32
for temp in temp_celcius:
    temp = (temp*A) + B
    temp_farenheit.append(temp)    

print(temp_farenheit)

[89.6, 109.4, 98.60000000000001, 172.4, 73.4, 32.0]

In [10]:
# Create welcome emails (list of emails then send messages to each of them)
email = ['jane@gmail.com', 'anne@gmail.com', 'joy@gmail.com']
greeting = "I hope you are well"
for acc in email:
    print(f"Welcome {acc}. {greeting}")

Welcome jane@gmail.com. I hope you are well
Welcome anne@gmail.com. I hope you are well
Welcome joy@gmail.com. I hope you are well

## Dictionary

#### Normal way

In [14]:
num = [1, 2, 3, 4, 5, 6, 8, 9]
square_dict = {}
for n in num:
    square_dict[n] = n*n
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81}

#### Comprehension method

In [16]:
square_dicttionary = {n: n*n for n in num}
square_dicttionary

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81}

### Examples

In [12]:
products = ['Laptop', 'Mouse', 'Keyboard']
prices = [999, 29, 78]
price_catalogue ={product:price for product, price in zip(products, prices) }
price_catalogue

{'Laptop': 999, 'Mouse': 29, 'Keyboard': 78}

## Assignment
1. Apply discount for expensive products
2. Write a list of student names and their scores
- create grade dictionary
- add letter grades

In [13]:
# Apply discount for expensive products
discounted = {product:price*0.9 if price>100 else price for product, price in price_catalogue.items()}
discounted

{'Laptop': 899.1, 'Mouse': 29, 'Keyboard': 78}

In [15]:
# Write a list of student names and their scores {create grade dictionary add letter grades}
students = {'Jane': 56,
            'Anne': 94,
            'Joy': 87
            }
graded_students = {}

for name, score in students.items():
        if score >= 80:
            grade = 'A'
        elif score >= 70:
            grade = 'B'
        elif score >= 60:
            grade = 'C'
        elif score >= 50:
            grade = 'D'
        else:
            grade = 'F'
        # Add the name, score, and grade to the new dictionary
        graded_students[name] = (score, grade)

print(graded_students)

{'Jane': (56, 'D'), 'Anne': (94, 'A'), 'Joy': (87, 'A')}