## Variables & Data Types

In [63]:
# Create a variable name and assign it your name as a string.
name = "Celine"
print(name)

Celine

In [64]:
# Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.
a = 10
b = 3.14
print(a)
print(b)
print(type(a))
print(type(b))

10
3.14
<class 'int'>
<class 'float'>

In [65]:
# Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.
is_student = True
print("Am I a student? ",is_student)

Am I a student?  True

In [66]:
# Create a variable x = None. Print it and check its type.
x = None
print(type(x))

<class 'NoneType'>

In [67]:
# Swap the values of two variables m = 5 and n = 8 without using a third variable.
m =5
n =8
m, n = n, m
print("m=",m, "n=",n)

m= 8 n= 5

## Conditional Statements (if / if-else)

In [82]:
user_password = input("Enter your password: ")
print(user_password)
if user_password == "pass":
  print("loged in successfully")
else:
  print("Error! Wrong Password")

Enter your password: pass
pass
loged in successfully

In [81]:
# Ask the user (via input) to enter a number. If it's positive, print “Positive”, else print “Non-Positive”.
number = float(input("Enter a number: "))
if number >= 0:
  print("Positive")
else:
  print("Negative")

Enter a number: -90
Negative

In [70]:
#Write a program that checks if a number is even or odd.
number_to_check= 19.89
if number_to_check % 2 == 0 :
  print('Even')
else:
  print('Odd')

Odd

In [71]:
# Ask the user for their age. If age ≥ 18, print “You are an adult”, else print “You are a minor”.
user_age = float(input('Enter your age as a number:  '))
if user_age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

Enter your age as a number:  3.8
You are a minor

In [72]:
# Given three variables x, y, z, check which one is the greatest and print it.
x, y, z = 12, 657, 897
print (max(x, y, z))

897

In [80]:
#Ask the user to input a temperature in Celsius. If the temperature is > 30, print “Hot”, if it’s between 15 and 30 (inclusive), print “Warm”, else print “Cold”.
temp = float(input("Input a temperature in Celcius: "))
if temp > 30:
  print("Hot")
elif 30 >= temp >= 15:
  print("Inclusive")
else:
  print("Cold")

Input a temperature in Celcius: 37.7
Hot

## Lists

In [74]:
# Create a list fruits = ["apple", "banana", "cherry"]. Print the first and last fruit.
fruits = ["apple", "banana", "cherry"]
first_fruit = fruits[0]
last_fruit = fruits[-1]
print(first_fruit,"\n",last_fruit)

apple
 cherry

In [75]:
# Add a new fruit “orange” to the list.
fruits = ["apple", "banana", "cherry"]
fruits.append("watermelon")
print(fruits)

['apple', 'banana', 'cherry', 'watermelon']

In [76]:
# Remove “banana” from the list.
fruits = ["apple", "banana", "cherry"]
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [77]:
# Given a list of numbers [1, 2, 3, 4, 5], calculate and print their sum.
numbers = [1, 2, 3, 4, 5]
numbers_total = sum(numbers)
print(numbers_total)

15

In [78]:
# Given a list of strings ["hello", "world"], join them into a single string with a space: “hello world”.
greeting = ["hello", "world"]
print(greeting[0]+ " "+ greeting[1])

hello world

In [79]:
# Reverse a list (without using the built-in reverse method).
numbers = [1, 2, 3, 4, 5]