<a href="https://colab.research.google.com/github/WangareCeline/python-basics_practice/blob/main/Test1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables & Data Types

In [ ]:
# Create a variable name and assign it your name as a string.
name = "Celine"
print(name)

Celine

In [ ]:
# Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.
a = 10
b = 3.14
print(a)
print(b)
print(type(a))
print(type(b))

10
3.14
<class 'int'>
<class 'float'>

In [ ]:
# Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.
is_student = True
print("Am I a student? ",is_student)

Am I a student?  True

In [ ]:
# Create a variable x = None. Print it and check its type.
x = None
print(type(x))

<class 'NoneType'>

In [ ]:
# Swap the values of two variables m = 5 and n = 8 without using a third variable.
m =5
n =8
m, n = n, m
print("m=",m, "n=",n)

m= 8 n= 5

## Conditional Statements (if / if-else)

In [ ]:
user_password = input("Enter your password: ")
print(user_password)
if user_password == "pass":
  print("loged in successfully")
else:
  print("Error! Wrong Password")

Enter your password: pass
pass
loged in successfully

In [ ]:
# Ask the user (via input) to enter a number. If it's positive, print “Positive”, else print “Non-Positive”.
number = float(input("Enter a number: "))
if number >= 0:
  print("Positive")
else:
  print("Negative")

Enter a number: -90
Negative

In [ ]:
#Write a program that checks if a number is even or odd.
number_to_check= 19.89
if number_to_check % 2 == 0 :
  print('Even')
else:
  print('Odd')

Odd

In [ ]:
# Ask the user for their age. If age ≥ 18, print “You are an adult”, else print “You are a minor”.
user_age = float(input('Enter your age as a number:  '))
if user_age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

Enter your age as a number:  3.8
You are a minor

In [ ]:
# Given three variables x, y, z, check which one is the greatest and print it.
x, y, z = 12, 657, 897
print (max(x, y, z))

897

In [ ]:
#Ask the user to input a temperature in Celsius. If the temperature is > 30, print “Hot”, if it’s between 15 and 30 (inclusive), print “Warm”, else print “Cold”.
temp = float(input("Input a temperature in Celcius: "))
if temp > 30:
  print("Hot")
elif 30 >= temp >= 15:
  print("Inclusive")
else:
  print("Cold")

Input a temperature in Celcius: 37.7
Hot

## Lists

In [ ]:
# Create a list fruits = ["apple", "banana", "cherry"]. Print the first and last fruit.
fruits = ["apple", "banana", "cherry"]
first_fruit = fruits[0]
last_fruit = fruits[-1]
print(first_fruit,"\n",last_fruit)

apple
 cherry

In [ ]:
# Add a new fruit “orange” to the list.
fruits = ["apple", "banana", "cherry"]
fruits.append("watermelon")
print(fruits)

['apple', 'banana', 'cherry', 'watermelon']

In [ ]:
# Remove “banana” from the list.
fruits = ["apple", "banana", "cherry"]
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [ ]:
# Given a list of numbers [1, 2, 3, 4, 5], calculate and print their sum.
numbers = [1, 2, 3, 4, 5]
numbers_total = sum(numbers)
print(numbers_total)

15

In [ ]:
# Given a list of strings ["hello", "world"], join them into a single string with a space: “hello world”.
greeting = ["hello", "world"]
print(greeting[0]+ " "+ greeting[1])

hello world

In [ ]:
# Reverse a list
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [4]:
# Reverse a list (without using the built-in reverse method).
my_list = ['a', 'b', 'c']

def reverse_list_in_place(data_list):
    # 1. Initialize Pointers
    # 'start' points to the first element
    start = 0
    # 'end' points to the last element
    end = len(data_list) - 1

    # 2. Loop and Swap
    # Continue the loop as long as the start pointer is to the left of the end pointer
    while start < end:
        # Swap the elements at the start and end positions
        data_list[start], data_list[end] = data_list[end], data_list[start]

        # Move the pointers towards the middle
        start += 1
        end -= 1

    # Return the modified list
    return data_list

print(f"Original list: {my_list}")

# Perform the reversal
reversed_list = reverse_list_in_place(my_list)

print(f"Reversed list: {reversed_list}")

Original list: ['a', 'b', 'c']
Reversed list: ['c', 'b', 'a']

In [3]:
# Given a list [1, 2, 3, 2, 1], count how many times 2 appears.
new_list = [1, 2, 3, 2, 1, 2 ,2]
new_list.count(2)

4

In [1]:
# Write a program that takes a list of numbers from the user (comma separated), converts them into a list of integers, and prints only the even numbers.
user_numbers = input("Enter your numbers: eg 5, 6, 34\n")
individual_number_str = user_numbers.split(',')

# Convert string numbers to integers, handling potential whitespace and non-numeric input
numbers = []
for num_str in individual_number_str:
    try:
        numbers.append(int(num_str.strip()))
    except ValueError:
        print(f"Warning: '{num_str}' is not a valid number and will be skipped.")

# Filter for even numbers
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

Enter your numbers: eg 5, 6, 34
56,67,89,098
[56, 98]